header.header
    .container.breakpoints 

        nav.nav.row 
            .logo.col-3
                a.logo__link(href="#")
                    img.nav-items__inner(src="../images/svg/logo.svg") 

            .nav-manu.col-9
                ul.nav-items
                    li.nav-li
                        a.nav-items__link(href="#")
                            img.nav-items__inner(src="../images/svg/heart.svg") 
                            span.nav-items-num
                    li.nav-li
                        a.nav-items__link(href="#")
                            img.nav-items__inner(src="../images/svg/figure.svg") 
                            span.nav-items-num
                    li.nav-li 
                        a.nav-items__link(href="#")
                            img.nav-items__inner(src="../images/svg/lock.svg")
                            span.nav-items-num  1 
                    li.manu-triger
                        img(src="../images/svg/burger.svg")            

        .h-banner.row
            .h-banner-text.col-xl-6.col-lg-12 
                h1.h-banner-text__title HIGH&nbsp;JEWELRY
                a.h-banner-text__link(href="#") Смотреть коллекцию
            .h-banner-image.col-xl-5.col-lg-12
                img.h-banner-image__img(src="../images/png/ring.png", alt="ring")    

        .header-bottom.row.gy-2
            .lang-wrap.col-1
                ul.lang-wrap
                    li.lang-li 
                        a.lang__item(href="#") RU  
                    li.lang-li.lang-padding 
                        a.lang__item(href="#") EN  
            .label.col-3 
                h3.label__name КОЛЬЦО&nbsp;TRINITY,&nbsp;Cartier
                p.label__description Белое золото, бриллианты
                span.label__cost 498 000 #[span.label__currency ₽]



